.z-menubar-ver {
	background-color: white;
	background-image: none;
}

.z-button-os {
	
	color: white;
	background-image: none;
	background: linear-gradient(black, #58ACFA);
	cursor: pointer;
	font-weight: bold;
	border-radius: 8px;
	font-size: 14px;
}

.z-tab-accordion-text {
	cursor: pointer;
	color: white;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 30px;
	padding-bottom: 2px;
	text-transform: uppercase;
}

.z-tab-accordion-hm {
	background-image: none;
	background: linear-gradient(black, #58ACFA);
	padding: 10px 2px 3px;
	zoom: 1;
}

/* .z-groupbox { */
/* 	background: linear-gradient(black, #58ACFA); */
/* 	position: relative; */
/* } */

.z-groupbox-3d-hl .z-groupbox-3d-header {
	background: linear-gradient(black, #58ACFA);
	color: yellow;
}